* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
}
.box{
  height: 350px;
  width: 250px;
  background-color: white;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}
.box svg{
  height: 120px;
  width: 120px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
}
.box svg circle{
  fill: transparent;
  stroke: #007eff;
  stroke-width: 10;
  stroke-linecap: round;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: animate 10s infinite;
}

@keyframes animate{
  0% {
    stroke-dashoffset: 500;
  }
  50%{
    stroke-dashoffset: 240;/*percent + 160*/
  }
  100%{
    stroke-dashoffset: 240;
  }
}
.box .progress{
 display: none
}
.box .counter{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 20px;
    font-weight: 800;
}
